@charset "ISO-8859-1";

body {
	background-image: url("images/movies3.jpg");
	background-repeat: repeat;
}
h1, h2 , a{
	color: white;
	margin-bottom: 5%;
}
table {
	color: white;
}
td {
	color: white;
}

div{
	margin: 5%;
	margin-left: 20%;
	margin-right:20%;
	background-color: black;
	border-style: solid;
	border-radius: 3%;
	opacity: 93%;
}

