@charset "ISO-8859-1";

body {
	background-image: url("images/movies4.jpg");
	background-repeat: repeat;
}
h1, a{
	color: white;
	margin-bottom: 2%;
}
table {
	color: white;
}

td {
	color: white;
}

div{
	margin: 1%;
	margin-left: 20%;
	margin-right:20%;
	background-color: black;
	border-style: solid;
	opacity: 93%;
	color: white;
	border-color: black;
}

