@charset "ISO-8859-1";

body {
	background-image: url("images/movies4.jpg");
	background-repeat: repeat;
}
h1, h2 , a{
	color: white;
	margin-bottom: 2%;
}
table {
	color: white;
}
td {
	color: white;
}

div{
	margin: 1%;
	margin-left: 5%;
	margin-right:5%;
	background-color: black;
	border-style: solid;
	opacity: 93%;
	color: white;
	border-color: black;
}

